/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: droid-sans, sans-serif;
  font-size: 38px;
  font-weight: bold; }

p {
  font-family: arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 20px; }

body {
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

.pri-hdr {
  position: relative; }

.pri-hdr__img {
  position: relative;
  overflow: hidden;
  background: url("/home.png") no-repeat scroll 50% 0%;
  background-size: contain;
  max-height: 420px;
  height: 100%; }
  @media (min-width: 1024px) {
    .pri-hdr__img {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/home.png") no-repeat scroll 50% 50%;
      background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/home.png") no-repeat scroll 50% 50%;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/home.png") no-repeat scroll 50% 50%;
      background-size: 100% auto; } }
  .pri-hdr__img .dummy {
    padding-top: 37.6%; }
    @media only screen and (min-width: 960px) {
      .pri-hdr__img .dummy {
        padding-top: 33.333%; } }
    @media only screen and (min-width: 1200px) {
      .pri-hdr__img .dummy {
        padding-top: 25%; } }

.pri-hdr__img-verse {
  margin: 0 auto;
  font-family: droid-sans, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 11px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }
  @media (min-width: 1024px) {
    .pri-hdr__img-verse {
      position: absolute;
      top: 50%;
      background: none;
      padding: 0;
      text-transform: uppercase;
      right: 25px;
      width: 60%;
      font-size: 30px;
      right: 104px;
      line-height: 38px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

.pri-hdr__img-verse-ref {
  text-decoration: underline;
  font-family: stencil-std, sans-serif;
  margin-bottom: 8px; }

.grid {
  max-width: 1200px;
  margin: 30px auto 0;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 1024px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .grid__cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .grid__sidebar-left {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    display: none; } }
  @media (min-width: 1024px) and (min-width: 1024px) {
    .grid__sidebar-left {
      display: block; } }

@media (min-width: 1024px) {
  .grid__main-content {
    max-width: 700px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin-left: 50px; } }

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 1em 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.tag__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-family: stencil-std, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 4px solid #000; }

.tag__post {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 25px 40px 0; }
  .tag__post:first-of-type {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }

.sidebar {
  display: none; }
  @media (min-width: 1024px) {
    .sidebar {
      display: block; } }

.post__title {
  margin-bottom: 10px; }

.prayer-requests {
  background: #668FA4;
  color: #fff;
  height: 50px;
  padding: 20px 25px;
  font-size: 30px;
  line-height: 38px;
  font-family: droid-sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.pri-footer {
  margin-top: 50px; }
