/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: droid-sans, sans-serif;
  font-size: 38px;
  font-weight: bold; }

p {
  font-family: arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 20px; }

body {
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

.pri-hdr {
  position: relative;
  padding: 20px; }

.pri-hdr-title a {
  text-decoration: none; }

.pri-hdr-title1 {
  font-family: stencil-std, sans-serif;
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
  display: block;
  color: red; }

.pri-hdr-title2 {
  font-family: droid-sans, sans-serif;
  color: #333;
  line-height: 19px;
  font-size: 19px;
  vertical-align: top;
  display: block;
  margin-bottom: 15px; }
  @media (min-width: 1024px) {
    .pri-hdr-title2 {
      margin-bottom: 20px;
      line-height: 25px;
      font-size: 25px; } }

@media (min-width: 1024px) {
  .pri-hdr__nav {
    position: absolute;
    top: 0;
    left: 410px;
    right: 0;
    z-index: 1000;
    overflow: visible;
    padding: 20px;
    color: #333; } }

.pri-hdr__nav-list {
  white-space: nowrap; }
  @media (min-width: 1024px) {
    .pri-hdr__nav-list {
      float: right; } }

.pri-hdr__nav-item {
  display: inline-block; }

.pri-hdr__nav-link {
  display: block;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  -webkit-transition: all 225ms ease 0s;
  -o-transition: all 225ms ease 0s;
  transition: all 225ms ease 0s;
  color: inherit;
  text-decoration: underline;
  font-family: droid-sans, sans-serif;
  border-radius: 3px; }
  @media (min-width: 1024px) {
    .pri-hdr__nav-link {
      font-size: 18px;
      padding: 15px;
      text-decoration: none; }
      .pri-hdr__nav-link:hover {
        color: #fff;
        background: #000; } }

.pri-hdr__intro {
  max-width: 850px;
  margin: 0 auto;
  text-align: left;
  padding: 30px 15px 0; }
  @media (min-width: 1024px) {
    .pri-hdr__intro {
      padding: 100px 0 0 0; } }

.pri-hdr__intro-title {
  font-size: 36px;
  font-family: stencil-std, sans-serif;
  margin-bottom: 30px; }
  @media (min-width: 1024px) {
    .pri-hdr__intro-title {
      font-size: 65px;
      margin-bottom: 40px; } }

.pri-hdr__intro-content p {
  font-size: 18px;
  font-family: droid-sans, sans-serif;
  line-height: 25px;
  color: #333;
  margin-bottom: 30px; }
  @media (min-width: 1024px) {
    .pri-hdr__intro-content p {
      font-size: 22px;
      line-height: 29px; } }

.pri-hdr__intro-content .pri-hdr__intro-verse {
  font-size: 20px;
  line-height: 24px;
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  padding: 1rem 1.5rem; }
  .pri-hdr__intro-content .pri-hdr__intro-verse strong {
    font-family: stencil-std, sans-serif; }

.pri-hdr__intro-more-link {
  color: #000;
  font-family: stencil-std, sans-serif;
  font-size: 20px;
  text-decoration: none; }
  .pri-hdr__intro-more-link a {
    color: #000;
    font-family: stencil-std, sans-serif;
    font-size: 19px;
    display: block; }

.pri-hdr__intro-action-links {
  text-align: center;
  margin: 20px 0; }
  .pri-hdr__intro-action-links a {
    border: 2px solid #000;
    margin-right: 10px;
    color: #000;
    font-family: stencil-std, sans-serif;
    font-size: 20px;
    padding: 20px 35px;
    margin: 20px 10px;
    display: block;
    vertical-align: top; }
    @media (min-width: 1024px) {
      .pri-hdr__intro-action-links a {
        display: inline-block; } }
    .pri-hdr__intro-action-links a:hover {
      background: #000;
      color: #fff; }

.pri-hdr__img {
  position: relative;
  overflow: hidden;
  background: url("/home.png") no-repeat scroll 50% 0%;
  background-size: contain;
  max-height: 420px;
  height: 100%; }
  @media (min-width: 1024px) {
    .pri-hdr__img {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/home.png") no-repeat scroll 50% 50%;
      background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/home.png") no-repeat scroll 50% 50%;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/home.png") no-repeat scroll 50% 50%;
      background-size: 100% auto; } }
  .pri-hdr__img .dummy {
    padding-top: 37.6%; }
    @media only screen and (min-width: 960px) {
      .pri-hdr__img .dummy {
        padding-top: 33.333%; } }
    @media only screen and (min-width: 1200px) {
      .pri-hdr__img .dummy {
        padding-top: 25%; } }

.pri-hdr__img-verse {
  margin: 0 auto;
  font-family: droid-sans, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 11px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }
  @media (min-width: 1024px) {
    .pri-hdr__img-verse {
      position: absolute;
      top: 50%;
      background: none;
      padding: 0;
      text-transform: uppercase;
      right: 25px;
      width: 60%;
      font-size: 30px;
      right: 104px;
      line-height: 38px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

.pri-hdr__img-verse-ref {
  text-decoration: underline;
  font-family: stencil-std, sans-serif;
  margin-bottom: 8px; }

.grid {
  max-width: 1200px;
  margin: 30px auto 0;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 1024px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .grid__cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .grid__sidebar-left {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    display: none; } }
  @media (min-width: 1024px) and (min-width: 1024px) {
    .grid__sidebar-left {
      display: block; } }

@media (min-width: 1024px) {
  .grid__main-content {
    max-width: 700px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin-left: 50px; } }

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 1em 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.tag__header {
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 4px solid #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.tag__title {
  font-family: stencil-std, sans-serif;
  text-transform: uppercase;
  font-size: 40px; }

.tag__desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.tag__post {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 25px 40px 0; }

.tag__post--full-width {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 10px; }
  .tag__post--full-width div {
    padding-right: 15px; }

.tag__post-title-link {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 20px;
  font-family: droid-sans, sans-serif;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block; }
  .tag__post-title-link:hover {
    color: #2455c3; }

.tag__post-dek {
  font-size: 15px;
  color: #666;
  font-family: droid-sans, sans-serif;
  line-height: 19px; }

.tag__post-date {
  color: #333;
  font-size: 12px;
  margin-bottom: 15px; }

.tag > tag__post:first {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.sidebar {
  display: none; }
  @media (min-width: 1024px) {
    .sidebar {
      display: block; } }

.post__title {
  margin-bottom: 10px; }

.prayer-requests {
  background: #668FA4;
  color: #fff;
  height: 50px;
  padding: 20px 25px;
  font-size: 30px;
  line-height: 38px;
  font-family: droid-sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.pri-footer {
  margin-top: 50px; }
