<header class="pri-hdr"> 
   
        <div class="pri-hdr__img">
            <div class="dummy"></div>
            <div class="pri-hdr__img-verse">
                <div class="pri-hdr__img-verse-ref">John 3:16 <span class="pri-hdr-img-bible-version">(NIV)</span></div>
                <div class="pri-hdr__img-verse-text">
                    For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.
                </div>
            </div>    
        </div>  
    
</header>