<header class="pri-hdr"> 
  
   <h1 class="pri-hdr-title">
	    <a href="/"><span class="pri-hdr-title1">Saved By God's Grace</span>
            <span class="pri-hdr-title2">One man's walk with the Lord</span></a>	

   </h1>


    <nav class="pri-hdr__nav">
      <ul class="pri-hdr__nav-list">
         <li class="pri-hdr__nav-item">
            <a href="#" class="pri-hdr__nav-link">Articles</a>
         </li>
         <li class="pri-hdr__nav-item">
            <a href="#" class="pri-hdr__nav-link">Salvation</a>
         </li>
         <li class="pri-hdr__nav-item">
            <a href="#" class="pri-hdr__nav-link">Prayer</a>
         </li>
         <li class="pri-hdr__nav-item">
            <a href="#" class="pri-hdr__nav-link">My Testimony</a>
         </li>
      </ul>
    </nav>


 
        <div class="pri-hdr__img" style="display: none;">
            <div class="dummy"></div>
            <div class="pri-hdr__img-verse">
                <div class="pri-hdr__img-verse-ref">John 3:16 <span class="pri-hdr-img-bible-version">(NIV)</span></div>
                <div class="pri-hdr__img-verse-text">
                    For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.
                </div>
            </div>    
        </div>  
    
</header>
