.prayer-requests {
    background: #668FA4;
    color: #fff;
    height: 50px;
    padding: 20px 25px;
    font-size: 30px;
    line-height: 38px;  
    font-family: droid-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}   
   