.pri-hdr {
    position: relative;
    padding: 20px;
}

.pri-hdr-title a {
   text-decoration: none;
}

.pri-hdr-title1 {
  font-family: stencil-std, sans-serif;
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
  display: block;
  color: red; 
}

.pri-hdr-title2 {
   font-family: droid-sans, sans-serif;
   color: #333;
   line-height: 19px;
   font-size: 19px;
   vertical-align: top;
   display: block;
   margin-bottom: 15px;
   @include desktop {
     margin-bottom: 20px;
     line-height: 25px;
     font-size: 25px;
   }
}

.pri-hdr__nav {
   @include desktop {
    position: absolute;
    top: 0;
    left: 410px;
    right: 0;
    z-index: 1000;
    overflow: visible;
    padding: 20px;
    color: #333;
   }
}

.pri-hdr__nav-list {
  white-space: nowrap;
  @include desktop {
    float: right;
  }
}

.pri-hdr__nav-item { 
 display: inline-block;
}

.pri-hdr__nav-link {
    display: block;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    -webkit-transition: all 225ms ease 0s;
    transition: all 225ms ease 0s;
    color: inherit;
    text-decoration: underline;
    font-family: droid-sans, sans-serif;
    border-radius: 3px;
    @include desktop {
      &:hover {
       color: #fff;
       background: #000;
      }
      font-size: 18px;
      padding: 15px;
      text-decoration: none;
    }

}

.pri-hdr__intro {
  max-width: 850px;
  margin: 0 auto;
  text-align: left;
  padding: 30px 15px 0;
  @include desktop  {
     padding: 100px 0 0 0;
  }
}

.pri-hdr__intro-title {
  font-size: 36px;
  font-family: stencil-std, sans-serif;
  margin-bottom: 30px;
  @include desktop {
    font-size: 65px;
    margin-bottom: 40px;
  }
}

.pri-hdr__intro-content {
  p {
      font-size: 18px;
      font-family: droid-sans, sans-serif;
      line-height: 25px;
      color: #333;
      margin-bottom: 30px;
      @include desktop {
        font-size: 22px;
        line-height: 29px;
     }
  }
  .pri-hdr__intro-verse {
    font-size: 20px;
    line-height: 24px;
    border-left: 0.3rem solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    padding: 1rem 1.5rem;
    strong {
      font-family: stencil-std, sans-serif;
    }
   }
}

.pri-hdr__intro-more-link {
  color: #000;;
  font-family: stencil-std, sans-serif;
  font-size: 20px;
  text-decoration: none;
  a {
     color: #000;
     font-family: stencil-std, sans-serif;
     font-size: 19px;
     display: block;
  }

}

.pri-hdr__intro-action-links {
  text-align: center;
  margin: 20px 0;
  a {
     border: 2px solid #000;
     margin-right: 10px;
     color: #000;
     font-family: stencil-std, sans-serif;
     font-size: 20px;
     padding: 20px 35px;
     margin: 20px 10px;
     display: block;
     vertical-align: top;
     @include desktop {
       display: inline-block;
     }
     &:hover {
       background: #000;
       color: #fff;
     }
  } 

}

.pri-hdr__img {
    position: relative;
    overflow: hidden;
    background: url("/home.png") no-repeat scroll 50% 0%;
    background-size: contain;
    max-height: 420px;
    height: 100%;    
    
    @include desktop {
    
        background:linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
        ),  url("/home.png") no-repeat scroll 50% 50%;
        background-size: 100% auto;
    }
    
    .dummy {
        padding-top: 37.6%;
        
        @media only screen and (min-width:960px) {
            padding-top: 33.333%;
        }
        @media only screen and (min-width:1200px) {
            padding-top: 25%;
        }        
    }        
}
 
.pri-hdr__img-verse {
    margin: 0 auto;  
    font-family: droid-sans, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 11px;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));    
    
    
    @include desktop {
        position: absolute;
        top: 50%;
        background: none;
        padding: 0;
        text-transform: uppercase;
        right: 25px;
        width: 60%;        
        font-size: 30px;
        right: 104px;
        line-height: 38px;
        transform: translateY(-50%);
    }    
}

.pri-hdr__img-verse-ref {
  text-decoration: underline;
  font-family: stencil-std, sans-serif;
  margin-bottom: 8px;    
}
