---
layout: default
---
      

<div class="grid {{ page.pageType }}">    


    {% include left-sidebar.html %}

    <div class="grid__cell grid__main-content">
        <h1 class="post__title">{{ page.title }}</h1>

        {{ content }}

        <div class="tags">
            {% assign sortedCategories = page.categories | sort %}
            {% for category in sortedCategories %}
                <span class="tag">
                    <a href="/category/{{ category }}.html">#{{ category }}</a>
                </span>
            {% endfor %}
        </div>

    </div>  

    
</div>     
     


         
    
      


